/* hero section */
.section-hero {
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-columns: 0.01fr 1fr 1fr; */
  align-items: center;
  justify-content: center;
  align-items: center;
  max-width: 130rem;
  gap: 9.6rem;
  margin: 0 auto;
  padding: 2.4rem;
}
.hero-img {
  display: inline-block;
  width: 100%;
  min-width: 25rem;
}
.menu-icon {
  font-size: 3rem;
  color: #444;
  display: none;
}
.p-hero {
  font-size: 1.8rem;
  color: #5a189a;
  font-weight: 600;
  margin-bottom: 1rem;
}
.hero-discription {
  font-size: 2rem;
  line-height: 1.5;
  color: #777;
  margin-bottom: 2.4rem;
}
.hero-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.social-icons {
  font-size: 3rem;
  color: black;
  transition: all 0.3s;
}
.hero-cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}
a {
  display: inline-block;
}
.logo {
  font-size: 2.4rem;
  text-decoration: none;
  font-weight: 700;
  color: black;
}
.logo img {
  height: 3rem;
  color: #5a189a;
}
.sf-logo {
  font-size: 3rem;
  color: #5a189a;
}
/* navigation section */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  max-width: 150rem;
}
.main-nav-list:link,
.main-nav-list:visited {
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  text-align: center;
}
.main-nav-list:hover,
.main-nav-list:active {
  color: #7b2cbf;
}
/*  */
.hero-nav-list:link,
.hero-nav-list:visited {
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  text-align: center;
  /* min-width: ; */
  width: 16rem;
}
.hero-nav-list:hover,
.hero-nav-list:active {
  color: #7b2cbf;
}
/*  */
.nav-cta:link,
.nav-cta:visited {
  background-color: #7b2cbf;
  color: white;
  border-radius: 12px;
  padding: 1.2rem 2.4rem;
}
.social-icons:link,
.social-icons:visited {
  transition: all 0.3s;
}
.social-icons:hover,
.social-icons:active {
  color: #5a189a;
}
.secondary-btn:link,
.secondary-btn:visited {
  background-color: white;
  /* border: 2px solid #5a189a; */
  box-shadow: 2px 2px 2px 2px #59189a3a;
  color: #5a189a;
}
.secondary-btn:hover,
.secondary-btn:active {
  background-color: #5a189a;
  color: white;
}
.section-about {
  margin-bottom: 9.6rem;
  padding: 2.4rem;
}
.sevices-section {
  margin: 0 9.6rem;
}
/* about */
.about-title {
  color: #5a189a;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.intro {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.about-me-discriptiom {
  color: #888;
  font-size: 1.8rem;
  line-height: 1.5;
}
.skill {
  width: 100%;
  min-width: 40rem;
  height: 1rem;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}
.met {
  background-color: #5a189a;
  height: 100%;
  border-radius: 10px;
}
.met-90 {
  width: 90%;
}
.met-80 {
  width: 80%;
}
.met-85 {
  width: 85%;
}
.met-20 {
  width: 20%;
}
.met-75 {
  width: 75%;
}
.skill-siscription {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}
.skill-title {
  font-size: 1.6rem;
  font-weight: 500;
}
.skills {
  margin: auto 0;
}
.skill-pers {
  color: #5a189a;
  font-size: 2rem;
  font-weight: 600;
}
.my-skills {
  text-align: center;
  margin-bottom: 3rem;
}
.skill-logo {
  font-size: 3rem;
}
.icon-container {
  display: flex;
  justify-content: space-evenly;
  color: #333;
}
.ico-tit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
}
.section-expert-with {
  margin-bottom: 9.6rem;
}
.icon-title {
  font-size: 1.2rem;
  font-weight: 500;
}
.hr-container {
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.hr-container hr {
  border: none;
  border-top: 1px solid #bbb;
}
.hr-container span {
  position: relative;
  background-color: #fff; /* Match background color */
  padding: 0 10px;
  top: -14px; /* Adjust this value based on the hr's thickness */
  font-size: 2.4rem;
}
.bot-hr {
  border: none;
  border-top: 1px solid #bbb;
  margin-top: 3rem;
}
.services-section {
  margin-bottom: 9.6rem;
}
.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.6rem;
  width: 75%;
  margin: 0 auto;
}
.services-icon {
  font-size: 3rem;
  margin-bottom: 1.6rem;
  background-color: #b197fc;
  border-radius: 50%;
  color: white;
  padding: 1rem;
}
.services-title {
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
}
.services-dscription {
  font-size: 1.8rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}
.services-projrct-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #888;
}
.services {
  box-shadow: 2px 2px 2px 2px #59189a19;
  border-radius: 11px;
  padding: 2rem;
}
.seed {
  text-align: center;
  margin-bottom: 3rem;
}
.services-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 30px rgba(0, 0, 0, 0.15);
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  gap: 9.6rem;
  padding: 4.4rem;
  align-items: center;
  align-self: center;
}
.main-footer-list {
  flex-direction: column;
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.footer-nav-list:link,
.footer-nav-list:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  color: #777;
  transition: all 0.3s;
}
.footer-nav-list:hover,
.footer-nav-list:active {
  color: #5a189a;
}

.footer-social-icons {
  list-style: none;
  display: flex;
  gap: 1.8rem;
  align-items: center;
  font-size: 1.8rem;
}

.footer-icons {
  font-size: 2.4rem;
  color: #777;
  transition: all 0.3s;
}
.footer-icons:hover {
  color: #5a189a;
}
.follow {
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
}
.center {
  margin: 0 auto;
}
.footer-discription {
  color: #777;
  font-size: 1.6rem;
  line-height: 1.3;
  margin-top: 2rem;
}
.stylish-hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #9775fa, #d0bfff);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 40px 0;
  margin: 0 auto;
  width: 80%;
}
.Copyright {
  margin-top: 2rem;
  align-self: flex-end;
  font-size: 1.2rem;
}
